:root {
    --primary-color: #3B71FE;
    --black-color: #353945;
    --white-color: #FFF;
    --gray2: #353945;
    --gray3: #777e90;
    --gray4: #b1b5c3;
    --gray5: #e6e8ec;
    --primary-font: "Inter", sans-serif;
    --secondary-font: "DM Sans", sans-serif;
    --fz-default: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button,
input {
    outline: none;
}

button {
    cursor: pointer;
}

body {
    font-family: var(--primary-font);
    background-color: white;
    font-size: var(--fz-default);
    line-height: 1;
    font-weight: 400;
}

.section {
    margin-bottom: 70px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.heading {
    font-size: 30px;
    font-weight: 600;
    line-height: 150%;
    color: var(--black-color);
    margin-bottom: 34px;
}

.tour-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.tour {
    width: calc(33.33% - 20px);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
    padding-bottom: 14px;

    &-image {
        width: 100%;
        height: 239px;
        border-radius: 8px 8px 0px 0px;
        display: block;
        object-fit: cover;
    }

    &-body {
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        gap: 20px;
    }

    &-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &-title {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }

    &-rating {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &-review {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &-button {
        padding: 8px 17px 9px 17px;
        border-radius: 8px;
        background-color: #3B71FE;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        color: white;
    }

    &-top {
        position: relative;
    }

    &-price {
        position: absolute;
        top: 24px;
        left: 30px;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        background-color: rgb(53, 57, 69, 0.8);
        border-radius: 4px;
        padding: 5px 16px;
        color: #FCFCFD;
    }
}

.popular {
    &-list {
        --columns: 4;
        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        gap: 20px;
    }

    &-item {
        border-radius: 14px;
        background: #FFF;
        box-shadow: 0px 12px 64px 0px rgba(0, 0, 0, 0.06);
    }

    &-image {
        position: relative;
        height: 185px;
    }

    &-overlap {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(24deg, rgba(4, 4, 4, 0.52) 0.23%, rgba(4, 4, 4, 0.00) 55.52%);
    }

    &-img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 14px 14px 0 0;
        object-fit: cover;
    }

    &-label {
        position: absolute;
        right: 20px;
        bottom: 0px;
        display: inline-flex;
        padding: 4px 18px 5px 18px;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background-color: #3B71FE;
        color: #F4F5F6;
        font-size: 12px;
        font-weight: 500;
        transform: translateY(50%);
    }

    &-content {
        margin-top: 11px;
        padding: 0 20px;
    }

    &-time {
        color: #777E90;
        font-size: 9px;
        font-weight: 400;
    }

    &-title {
        margin-top: 8px;
        color: #353945;
        font-size: 18px;
        font-weight: 500;
        line-height: 155.556%
    }

    &-ratting {
        display: flex;
        align-items: center;
        column-gap: 4px;
        color: #4F4F4F;
        font-size: 12px;
        font-weight: 500;
        line-height: 175%
    }
}

.gem {
    &-list {
        display: grid;
        grid-template-rows: 260px 260px 130px;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    &-item {
        border-radius: 8px;
        overflow: hidden;
    }

    &-item:first-child {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    &-item:last-child {
        grid-column: 2 / -1;
    }

    &-item img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.diamon {
    background-color: #FCFCFC;
    padding-top: 65px;
    padding-bottom: 65px;

    &-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 196px 196px;
        gap: 30px;
    }

    & .heading {
        text-align: center;
    }

    &-item {
        border-radius: 14px;
        background: #FFF;
        padding: 12px;
    }

    &-item img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
    }

    &-image {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        position: relative;
    }

    &-overlap {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(3deg, rgba(0, 0, 0, 0.60) 17.99%, rgba(0, 0, 0, 0.00) 55.56%);
        /* border-radius: inherit; */
        padding-bottom: 14px;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        row-gap: 6px;
        border-radius: inherit;
    }

    &-overlap h3 {
        color: var(--white-color);
        font-size: 24px;
        font-weight: 500;
        line-height: 150%
    }

    &-overlap span {
        color: var(--gray5);
        font-size: 14px;
        font-weight: 500;
        line-height: 142.857%
    }
}

.button {
    padding: 9px 40px;
    border-radius: 100rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
    outline: none;
    /* display: flex; */
    width: fit-content;
    margin: 30px auto;
    display: block;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
}

.footer {
    padding-bottom: 68px;

    &-container {
        padding: 0px 15px;
        max-width: 1130px;
    }

    &-top {
        padding-bottom: 70px;
        border-bottom: 1px solid var(--gray5);
    }

    &-columns {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;
    }

    &-links {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &-heading {
        color: var(--gray2);
        font-size: 24px;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 20px;
    }

    &-link {
        color: var(--gray3);
        font-size: 16px;
        line-height: 150%;
        display: block;
    }

    &-logo {
        display: inline-block;
        margin-bottom: 38px;
    }

    &-description {
        color: var(--gray2);
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 30px;
    }
}

.subscribe {
    display: flex;
    border-radius: 100rem;
    border: 2px solid var(--gray5);
    padding: 8px;
    justify-content: space-between;

    &-button {
        border: none;
        background-color: var(--primary-color);
        border-radius: 100rem;
        width: 32px;
        height: 32px;
        flex-shrink: 0;
    }

    &-email {
        border: none;
        padding: 4.5px 18px;
    }
}

::-webkit-input-placeholder {
    color: var(--gray4);
}

::-moz-input-placeholder {
    color: var(--gray4);
}

.footer-bottom {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray4);
    line-height: 1.42;
    gap: 15px;
}

.footer-social {
    display: flex;
    gap: 14px;
}

@media screen and (max-width: 767.98px) {
    .tour {
        width: 100%;
    }

    .tour-list {
        gap: 20px
    }

    .popular-list {
        --columns: 1;
    }

    .heading {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .diamon-list {
        grid-template-columns: 1fr;
        grid-template-rows: none;
        grid-auto-rows: 148px;
        gap: 16px;
    }

    .diamon-item {
        padding: 8px;
    }

    .footer-columns {
        flex-direction: column;
    }

    .footer-bottom {
        flex-direction: column;
    }

    .gem-list {
        grid-template-rows: 100px 100px 70px;
        gap: 10px;
    }

    .section {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 768px) {
    .footer-description {
        max-width: 268px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    .tour {
        width: calc(50% - 20px)
    }

    .popular-list {
        --columns: 2;
    }
}