.subscribe {
    display: flex;
    border-radius: 100rem;
    border: 2px solid var(--gray5);
    padding: 8px;
    justify-content: space-between;

    &-button {
        border: none;
        background-color: var(--primary-color);
        border-radius: 100rem;
        width: 32px;
        height: 32px;
        flex-shrink: 0;
    }

    &-email {
        border: none;
        padding: 4.5px 18px;
    }
}

.footer {
    padding-bottom: 68px;

    &-container {
        padding: 0px 15px;
        max-width: 1130px;
    }

    &-top {
        padding-bottom: 70px;
        border-bottom: 1px solid var(--gray5);
    }

    &-columns {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;
    }

    &-links {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &-heading {
        color: var(--gray2);
        font-size: 24px;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 20px;
    }

    &-link {
        color: var(--gray3);
        font-size: 16px;
        line-height: 150%;
        display: block;
    }

    &-logo {
        display: inline-block;
        margin-bottom: 38px;
    }

    &-description {
        color: var(--gray2);
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 30px;
    }

    &-bottom {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--gray4);
        line-height: 1.42;
        gap: 15px;
    }

    &-social {
        display: flex;
        gap: 14px;
    }
}