extends ./views/layout/layout-tour.pug
append head 
    link.css(rel='stylesheet', href='./css/main.css')
block main
    include ./views/home/tours
    include ./views/home/populars
    include ./views/home/gems
    include ./views/home/diamons