
include ./pug/mixins

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap', rel='stylesheet')
        link.css(rel='stylesheet', href='./styles/populars.css')
    body
        .container
            .popular-list  
                +popularItem('https://images.unsplash.com/photo-1732383055768-ac257dbfc8be?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDN8NnNNVmpUTFNrZVF8fGVufDB8fHx8fA%3D%3D', 'Sep 28 10:00 AM - 1:00 PM', 'The Grand Palace', 4.8)
                +popularItem('https://plus.unsplash.com/premium_photo-1688072514847-73bacc343aab?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', 'July 15 10:00 AM - 1:00 PM', 'Chatuchak Weekend', 3.9)
                +popularItem('https://plus.unsplash.com/premium_photo-1675715923941-0344aa115492?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', 'December 10 10:00 AM - 1:00 PM', 'Wat Pho', 5.0)
                +popularItem('https://images.unsplash.com/photo-1544715299-be6aa4573478?q=80&w=1889&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', 'March 25 10:00 AM - 1:00 PM', 'Temple Of Dawn', 4.5)
                +popularItem('https://images.unsplash.com/photo-1732103377360-be02613c9df0?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', 'February 25 10:00 AM - 1:00 PM', 'Temple Of Dawn', 4.0)
