.button {
    padding: 9px 40px;
    border-radius: 100rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
    outline: none;
    /* display: flex; */
    width: fit-content;
    margin: 30px auto;
    display: block;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
}